[submodule "tts/mellotron"]
	path = tts/mellotron
	url = https://github.com/snjstudent/mellotron
[submodule "gesture_face/MakeItTalk"]
	path = gesture_face/MakeItTalk
	url = https://github.com/snjstudent/MakeItTalk
[submodule "gesture_image/BiGraphGAN"]
	path = gesture_image/BiGraphGAN
	url = https://github.com/snjstudent/BiGraphGAN
